#content {
    flex: 1 1 auto;
    width: calc(100% - 362px);
    background: #f3efd3;

    section {
        background: rgb(244, 244, 231);
        margin-bottom: $mb-4;
        padding: $pa;
    }

    .entry {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        background: $entry-bg;
        border-radius: 0.25rem;
        padding: 19px;
        min-height: 100px;
        transition: all .3s ease;

        &:hover {
            transform: scale(1.02);
            background: #f0f1dc;
        }

        .entry-body {
            a {
                color: black;
                transition: all .3s ease;

                &:hover {
                    transform: scale(1.2);
                    color: $link-color;
                }
            }

            p {
                margin: 12px 0;
                color: #454e56;
                font-weight: 600;
            }
        }
    }

    .article-tags {

        a {
            color: white;
            padding: 4px 8px;
            border-radius: 0.15rem;
            font-weight: 700;
            transition: all .3s ease;

        }
    }

    .next-prev-article {
        display: flex;
        flex-direction: column;
        background: #fdf6e3;
        margin-top: 50px;

        // .next-article {

        // }

        // .prev-article {
            
        // }
        p {
            font-size: 1.25rem;
            padding: 2px 12px;
            color: #A3C159;

            a {
                text-decoration: underline;
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        padding: 0;
        font-size: 1.5rem;
        font-weight: bold;
        li {
            margin: 0 8px;
        }
        li.active a {
            color: red;
        }
    }
}

// #content

.post-info {
    padding: 4px 0;
    padding-left: 4px;
    font-size: 1rem;
    color: #567;
    border-left: 5px solid #b6bfb6;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;

    abbr {
        text-decoration: none;
    }

    abbr,
    span {
        margin-right: 5px;
    }
}

// .post-info

.article,
#page {
    $left: 12px;
    padding: 18px 4px;

    .title,
    .title {
        font-family: "Trebuchet MS", Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif;
        line-height: 250%;
        font-weight: 500;
        font-size: 1.5rem;
        padding-left: $left;
    }

    .content {
        padding-left: $left;
        padding-right: $left;

        p {
            font-size: 1.1rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
            line-height: 180%;
        }

        h2 {
            font-size: 1.7rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        h4 {
            font-size: 1.2rem;
        }

        h2,
        h3,
        h4 {
            font-family: "Trebuchet MS", Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif;
            color: #000000;
            border-bottom: 1px solid #d3d3d3;
            font-weight: 500;
        }

        >table code,
        p code {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 1rem;
            background-color: pink;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin: auto 3px;
            line-height: 135%;
        }


    }


}

// .article, #page