
// width 小于 576 时,侧栏显示到下面
@media screen and (min-width: $sm), (max-width: $sm) {
	#header, #main, #extras {
		width: 100%;
	}

	#main {
		flex-direction: column;
	}

	#sidebar {
		display: block;
		width: 100%;
		margin: 0;
	}


	#footer p {
		font-size: 0.8rem;
	}

	#content {
		width: 100%;
	}

	.original .content {
		width: 95% !important;

		p {
			font-size: 0.8rem !important;
		}
	}

	.toc {
		display: none !important;
	}
	
}

@media (min-width: $lg) {

	#header, #main, #extras {
		width: $lg;
	}

	#main {
		flex-direction: row;
	}

	#content {
		width: calc(100% - 350px);
	}

	// 显示侧栏
	#sidebar {
		display: block;
		width: 350px;
	}

	#footer p {
		font-size: 1rem;
	}

	.toc {
		display: block !important;
	}
}

@media (min-width: $xl) {
	#header, #main, #extras {
		width: $xl;
	}

	#sidebar {
		display: block;
	}

	#footer p {
		font-size: 1.5rem;
	}
}
