
@media (min-width: $sm) or (max-width: $sm) {
	#header, #main, #extras {
		width: 96%;
	}

	#sidebar {
		display: none;
	}


	#footer p {
		font-size: 0.8rem;
	}

	
}


@media (max-width: $md) {
	.original .content {
		width: 85% !important;
	}
}

@media (max-width: $sm) {
	.original .content {
		width: 95% !important;

		p {
			font-size: 0.8rem !important;
		}
	}
}

@media (min-width: $md) {
	#header, #main, #extras {
		width: $md;
	}
	#sidebar {
		display: none;
	}

	#footer p {
		font-size: 1rem;
	}
}

@media (min-width: $lg) {
	#header, #main, #extras {
		width: $lg;
	}

	#sidebar {
		display: block;
	}

	#footer p {
		font-size: 1.2rem;
	}
}

@media (min-width: $xl) {
	#header, #main, #extras {
		width: $xl;
	}

	#sidebar {
		display: block;
	}

	#footer p {
		font-size: 1.5rem;
	}
}

@media (min-width: $xxl) {
	#header, #main, #extras {
		width: $xxl;
	}

	#sidebar {
		display: block;
	}

	#footer p {
		font-size: 1.5rem;
	}
}