#sidebar {
	width: 350px;
	min-width: 350px;
	padding: 0 10px 10px 10px;
	margin-left: 10px;
	min-height: 400px;

	.profile {
		.head {
			background: #6accd521;
		}

		img {
			// transform: scale(0.65);

			&:hover {
				filter: drop-shadow(0 0 16px #07A081);
			}
		}

		.content {
			display: flex;
			flex-direction: column;

			.link-wrap {
				display: flex;
				height: 48px;
				padding-left: 18px;
				.img {
					display: block;
					width: 1.5rem;
					margin-right: 10px;
				}
			}

			.github {
				background-color: #edf1e4;

				&:hover {
					box-shadow: 5px 5px 5px #ccd1bf;
					margin-bottom: 5px;
					background-color: #f4fbe5;
				}
				
			}

			.bilibili {
				background-color: #f1d8df;
				
				&:hover {
					box-shadow: 5px 5px 5px #f1d8df;
					background-color: #fbe9ee;
				}
			}

			.github-link {
				padding: 8px 0;
				color: #645f5f;
				font-size: 1.4rem;
				font-weight: 800;
			}

			.bilibili-link {
				
				padding: 8px 0;
				color: #3eb7df;
				font-size: 1.4rem;
				letter-spacing: 0.25rem;
				font-weight: 800;
				font-family: "Trebuchet MS", Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif;
			}

			text-align: center;

			.site-info {
				background: #1BA6B2;
				padding: 10px 0;
				color: white;
				height: 48px;
				font-size: 1.15rem;

				&:hover {
					// filter: drop-shadow(0 0 10px #1BA6B2);
					box-shadow: 5px 5px 5px #b2dee2;
					margin-bottom: 5px;
					
				}

				span {
					color: white;
					margin-right: 4px;
					font-weight: 600;
					font-size: 1.2rem;
				}

			}

		}
	}

	.sidebar-item {
		margin-bottom: 20px;

		.sidebar-title {
			border-bottom: 1px solid #ccc;
			padding-bottom: 4px;
			margin-bottom: 20px;
			color: #979795;
			letter-spacing: 0.15rem;
		}

		.content {
			min-height: 100px;

		}

	}

	.tags {

		.content {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;

			.tag {
				color: #ffffffb3;
				display: inline-block;
				padding: 6px 10px;
				margin-bottom: 8px;
				border-radius: 8px;
				font-size: 1.1rem;
				height: fit-content;

				&:hover {
					color: white;
					font-weight: bold;
				}
			}
		}
	}

	.category {

		.content {
			display: flex;
			flex-direction: column;
		}

		.category-link {
			display: inline-block;
			background: #A3C159;
			padding: 12px;
			border-radius: 5px;
			text-align: center;
			font-size: 1.5rem;
			color: rgb(233, 233, 245);
			margin-bottom: 0.8rem;

			&:hover {
				color: white;
				background: #A3C159;
				filter: drop-shadow(0 0 10px #1BA6B2);
				font-weight: bold;
				background: #1BA6B2;
			}
		}
	}
}