@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
ol, ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* _reset.scss end! */
/* pall padding: top/bottom left/right */
.pa {
  padding: 10px;
}

.pa-1 {
  padding: 4px;
}

.pa-2 {
  padding: 8px;
}

.pa-3 {
  padding: 10px;
}

.pa-4 {
  padding: 12px;
}

/* px padding: top/bottom */
.px {
  padding-left: 10px;
  padding-right: 10px;
}

.px-1 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-2 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-4 {
  padding-left: 12px;
  padding-right: 12px;
}

/* py padding: top/bottom */
.py {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-4 {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* pl padding: top/bottom */
.pl {
  padding-left: 10px;
}

.pl-1 {
  padding-left: 4px;
}

.pl-2 {
  padding-left: 8px;
}

.pl-3 {
  padding-left: 10px;
}

.pl-4 {
  padding-left: 12px;
}

/* pr padding: top/bottom */
.pr {
  padding-right: 10px;
}

.pr-1 {
  padding-right: 4px;
}

.pr-2 {
  padding-right: 8px;
}

.pr-3 {
  padding-right: 10px;
}

.pr-4 {
  padding-right: 12px;
}

/* pt padding: top/bottom */
.pt {
  padding-top: 10px;
}

.pt-1 {
  padding-top: 4px;
}

.pt-2 {
  padding-top: 8px;
}

.pt-3 {
  padding-top: 10px;
}

.pt-4 {
  padding-top: 12px;
}

/* pb padding: top/bottom */
.pb {
  padding-bottom: 10px;
}

.pb-1 {
  padding-bottom: 4px;
}

.pb-2 {
  padding-bottom: 8px;
}

.pb-3 {
  padding-bottom: 10px;
}

.pb-4 {
  padding-bottom: 12px;
}

a, a:hover {
  text-decoration: none;
}

a {
  color: #1BA6B2;
}
a:hover {
  color: #A3C159;
}

::selection {
  background: #1193d5;
  color: white;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

body {
  background: #fdf6e3;
  display: flex;
  font-size: 14px;
  font-family: Oxygen, Ubuntu, Cantarell, PingFangSC-light, PingFangTC-light, "Open Sans", "Helvetica Neue", "sans-serif";
  flex-direction: column;
  align-items: center;
}

#logo a {
  color: #1BA6B2;
}

/*
	页面 main 样式
*/
.main {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

/* header */
#header {
  display: flex;
  flex-direction: column;
  height: 140px;
  width: 100%;
}

.container {
  border-bottom: 1px solid #ccc;
}
.container .logo {
  font-size: 2rem;
  line-height: 1;
}
.container .subtitle {
  font-size: 1rem;
  color: #aaa;
}

nav {
  background: #A3C159;
}
nav ul {
  padding-inline-start: 0;
}
nav ul li {
  display: inline;
  font-size: 1.25rem;
}
nav ul a {
  display: inline-block;
  color: rgb(233, 233, 245);
  padding: 18px 18px;
  font-weight: 800;
}
nav ul a:hover {
  color: white;
  background: #1BA6B2;
}

.is-active {
  background: #1BA6B2;
}

#breadcrumb {
  font-size: 1.25rem;
  padding: 4px 0;
  padding-left: 12px;
  border-bottom: 1px solid rgba(161, 161, 161, 0.79);
}
#breadcrumb .home, #breadcrumb .title {
  display: inline;
}

#content {
  flex: 1 1 auto;
  width: calc(100% - 362px);
  background: #f3efd3;
}
#content section {
  background: rgb(244, 244, 231);
  margin-bottom: 14px;
  padding: 10px;
}
#content .entry {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  background: #ebe9e1;
  border-radius: 0.25rem;
  padding: 19px;
  min-height: 100px;
  transition: all 0.3s ease;
}
#content .entry:hover {
  transform: scale(1.02);
  background: #f0f1dc;
}
#content .entry .entry-body a {
  color: black;
  transition: all 0.3s ease;
}
#content .entry .entry-body a:hover {
  transform: scale(1.2);
  color: #1BA6B2;
}
#content .entry .entry-body p {
  margin: 12px 0;
  color: #454e56;
  font-weight: 600;
}
#content .article-tags a {
  color: white;
  padding: 4px 8px;
  border-radius: 0.15rem;
  font-weight: 700;
  transition: all 0.3s ease;
}
#content .next-prev-article {
  display: flex;
  flex-direction: column;
  background: #fdf6e3;
  margin-top: 50px;
}
#content .next-prev-article p {
  font-size: 1.25rem;
  padding: 2px 12px;
  color: #A3C159;
}
#content .next-prev-article p a {
  text-decoration: underline;
}
#content .pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
#content .pagination li {
  margin: 0 8px;
}
#content .pagination li.active a {
  color: red;
}

.post-info {
  padding: 4px 0;
  padding-left: 4px;
  font-size: 1rem;
  color: #567;
  border-left: 5px solid #b6bfb6;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
}
.post-info abbr {
  text-decoration: none;
}
.post-info abbr,
.post-info span {
  margin-right: 5px;
}

.article,
#page {
  padding: 18px 4px;
}
.article .title,
.article .title,
#page .title,
#page .title {
  font-family: "Trebuchet MS", Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif;
  line-height: 250%;
  font-weight: 500;
  font-size: 1.5rem;
  padding-left: 12px;
}
.article .content,
#page .content {
  padding-left: 12px;
  padding-right: 12px;
}
.article .content p,
#page .content p {
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 180%;
}
.article .content h2,
#page .content h2 {
  font-size: 1.7rem;
}
.article .content h3,
#page .content h3 {
  font-size: 1.5rem;
}
.article .content h4,
#page .content h4 {
  font-size: 1.2rem;
}
.article .content h2,
.article .content h3,
.article .content h4,
#page .content h2,
#page .content h3,
#page .content h4 {
  font-family: "Trebuchet MS", Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif;
  color: #000000;
  border-bottom: 1px solid #d3d3d3;
  font-weight: 500;
}
.article .content > table code,
.article .content p code,
#page .content > table code,
#page .content p code {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1rem;
  background-color: pink;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: auto 3px;
  line-height: 135%;
}
.article .original,
#page .original {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.article .original .content,
#page .original .content {
  width: 70%;
  background: #ebe7cb;
  border-radius: 20px;
  filter: drop-shadow(0 0 10px #ebe7cb);
  border-left: 4px solid #c7df88;
  border-right: 4px solid #c7df88;
}
.article .original .content:hover,
#page .original .content:hover {
  background: #e1dfce;
  filter: drop-shadow(0 0 5px #d7e8aa);
  border-left: 4px solid #b3cf6c;
  border-right: 4px solid #b3cf6c;
}
.article .original .content p,
#page .original .content p {
  font-size: 1rem;
  color: #7c7979;
  margin: 8px 0;
}
.article .original .content a,
#page .original .content a {
  color: #7a7171;
}
.article .original .content a:hover,
#page .original .content a:hover {
  color: #999;
}

#sidebar {
  width: 350px;
  min-width: 350px;
  padding: 10px;
  margin-left: 10px;
  min-height: 400px;
}
#sidebar .profile .head {
  background: rgba(106, 204, 213, 0.1294117647);
}
#sidebar .profile img:hover {
  filter: drop-shadow(0 0 16px #07A081);
}
#sidebar .profile .content {
  text-align: center;
}
#sidebar .profile .content .github-link {
  display: block;
  background: black;
  padding: 8px 0;
  color: white;
  font-size: 1.4rem;
  font-weight: 800;
}
#sidebar .profile .content .github-link:hover {
  filter: drop-shadow(0 0 16px black);
  font-size: 1.2rem;
  font-weight: bold;
}
#sidebar .profile .content .bottom {
  background: #1BA6B2;
  padding: 10px 0;
  color: white;
}
#sidebar .profile .content .bottom:hover {
  filter: drop-shadow(0 0 10px #1BA6B2);
  font-size: 1.2rem;
  font-weight: bold;
}
#sidebar .profile .content .bottom span {
  color: white;
  margin-right: 4px;
  font-weight: 600;
  font-size: 1.2rem;
}
#sidebar .sidebar-item {
  margin-bottom: 20px;
}
#sidebar .sidebar-item .sidebar-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
  margin-bottom: 20px;
  color: #979795;
  letter-spacing: 0.15rem;
}
#sidebar .sidebar-item .content {
  min-height: 100px;
}
#sidebar .tags .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#sidebar .tags .content .tag {
  color: rgba(255, 255, 255, 0.7019607843);
  display: inline-block;
  padding: 6px 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  font-size: 1.1rem;
  height: fit-content;
}
#sidebar .tags .content .tag:hover {
  color: white;
  font-weight: bold;
}
#sidebar .category .content {
  display: flex;
  flex-direction: column;
}
#sidebar .category .category-link {
  display: inline-block;
  background: #A3C159;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(233, 233, 245);
  margin-bottom: 0.8rem;
}
#sidebar .category .category-link:hover {
  color: white;
  background: #A3C159;
  filter: drop-shadow(0 0 10px #1BA6B2);
  font-weight: bold;
  background: #1BA6B2;
}

/* extras */
#extras {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 28px;
  min-height: 268px;
}

.link-title {
  border-bottom: 1px solid #C8E0E4;
  padding-bottom: 8px;
  color: rgba(70, 66, 70, 0.85);
  margin-bottom: 12px;
}

.links-item {
  flex-grow: 1;
  width: 400px;
  background: rgba(225, 225, 222, 0.0705882353);
  margin: 10px;
  padding: 18px 0px;
  border-radius: 12px;
}
.links-item ul {
  padding-left: 0;
}

/* Footer */
#footer {
  background-color: #dfdfca;
  color: rgba(40, 39, 39, 0.767);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 40px 2px;
  width: 100%;
}

div.toc {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  background: rgb(204, 220, 204);
  color: black;
  line-height: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  /* ul ------------------*/
}
div.toc ul {
  display: block;
  list-style: decimal;
  padding-inline-start: 25px;
}
div.toc ul li {
  display: list-item;
}
div.toc ul li a {
  padding: 10px 0;
}
div.toc ul ul {
  padding-inline-start: 10px;
}

@media (min-width: 576px) or (max-width: 576px) {
  #header, #main, #extras {
    width: 96%;
  }
  #sidebar {
    display: none;
  }
  #footer p {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .original .content {
    width: 85% !important;
  }
}
@media (max-width: 576px) {
  .original .content {
    width: 95% !important;
  }
  .original .content p {
    font-size: 0.8rem !important;
  }
}
@media (min-width: 768px) {
  #header, #main, #extras {
    width: 768px;
  }
  #sidebar {
    display: none;
  }
  #footer p {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  #header, #main, #extras {
    width: 992px;
  }
  #sidebar {
    display: block;
  }
  #footer p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  #header, #main, #extras {
    width: 1200px;
  }
  #sidebar {
    display: block;
  }
  #footer p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1400px) {
  #header, #main, #extras {
    width: 1400px;
  }
  #sidebar {
    display: block;
  }
  #footer p {
    font-size: 1.5rem;
  }
}
#go-top {
  display: none;
  position: fixed;
  bottom: 36px;
  right: 0;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
}

#go-top:hover {
  background-color: #555;
}

#hide-sidebar-btn {
  position: fixed;
  display: none;
  bottom: 0;
  right: 0;
  z-index: 99;
  font-size: 18px;
  border: none;
  height: 36px;
  background: #1BA6B2;
}

.content > table {
  background: #f7f7f7;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
.content > table td,
.content > table th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 15px;
}

#page .title {
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#link-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
#link-list .link-item {
  padding: 4px 8px;
  font-size: 1.5rem;
  background: teal;
  color: white;
  margin-right: 8px;
  margin-bottom: 12px;
}

.hljs-ln-code {
  padding-left: 12px !important;
}

/*# sourceMappingURL=main.css.map */
