:root {
    --zsf-blue-1: #C8E0E4;
    --zsf-sm: 576px;
    --zsf-md: 768px;
    --zsf-lg: 992px;
    --zsf-xl: 1200px;
    --zsf-xxl: 1400px;
    --zsf-bg: #EDE8E2;
    --zsf-test-bg1: #caa;
    --zsf-test-bg2: rgb(204, 203, 170);
    --zsf-px: 8px;
    --zsf-py: 16px;
    --zsf-pb: 8px;
    --zsf-pall: var(--zsf-py) var(--zsf-px);
}