{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block head -%}
{{ super() -}}
{% if article.summary %}
    <meta name="description" content="{{ article.summary | striptags | safe | truncate(150) }}" />
    <meta property="og:description" content="{{ article.summary | striptags | safe | truncate(150) }}" />
{% endif %}

    <meta name="keywords" content="{% for t in article.tags %}{% if not loop.last %}{{ t }},{% else %}{{ t }}{% endif %}{% endfor %}" />
    <meta property="article:tag" content="{% for t in article.tags %}{% if not loop.last %}{{ t }},{% else %}{{ t }}{% endif %}{% endfor %}" />
{% if article.author %}
    <meta name="author" content="{{ article.author }}"/>
    <meta property="article:author" content="{{ article.author }}" />
    
{% endif %}

    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ article.url }}" />
    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta property="og:locale" content="zh_CN" />
    
{% endblock head %}

{# 网站标题 #}
{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{# 向 head 头部添加内容 #}
{% block extra_head %}
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
{{ translations.entry_hreflang(article) }}
{% endif %}
{% endblock %}

{% block content %}
{{ toc|safe }}
{# 文章详情页 #}
{% include "breadcrumb.html" %} {# 文章详情页面包屑导航 #}
<article class="article">
    <h2 class="title">
        {{ article.title|safe }}
    </h2>
    {% include 'article_infos.html' %}
    <div class="content">
        {{ article.content|safe }}
    </div><!-- /.entry-content -->
</article>
    
{% endblock %}

{# 侧栏 #}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}