{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block head -%}
{{ super() -}}
{% if article.summary %}
    <meta name="description" content="{{ article.summary | striptags | safe | truncate(150) }}">
    <meta property="og:description" content="{{ article.summary | striptags | safe | truncate(150) }}">
{% endif %}

    <meta name="keywords" content="{% for t in article.tags %}{% if not loop.last %}{{ t }},{% else %}{{ t }}{% endif %}{% endfor %}">
    <meta property="article:tag" content="{% for t in article.tags %}{% if not loop.last %}{{ t }},{% else %}{{ t }}{% endif %}{% endfor %}">
{% if article.author %}
    <meta name="author" content="{{ article.author }}">
    <meta property="article:author" content="{{ article.author }}">
    
{% endif %}

    <meta property="og:title" content="{{ article.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ article.url }}">
    <meta property="og:site_name" content="{{ SITENAME }}">
    <meta property="og:locale" content="zh_CN">
    
{% endblock head %}

{# 网站标题 #}
{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block content %}
{{ toc|safe }}
{# 文章详情页 #}
{% include "breadcrumb.html" %} {# 文章详情页面包屑导航 #}
<article class="article">
    <h2 class="title">
        {{ article.title|safe }}
    </h2>
    {% include 'article_infos.html' %}
    <div class="content">
        {{ article.content|safe }}

        <p>到这里本文就完了，[{{SITENAME}}] 欢迎您再来！</p>
    </div><!-- /.entry-content -->

    {% if article.original != "false" %}
    <div class="original">
        <div class="content">
            <p>版权声明：<a href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh" target="_blank">署名-非商业性使用-禁止演绎 3.0</a></p>
            <p>本文地址：<a href="" target="_blank">{{ SITEURL }}/{{ article.url }}</a></p>
        </div>
    </div>
    {% endif %}
</article>

<!-- 上一片文章/下一片文章👆 -->
<div class="next-prev-article">
    {# 判断是否有上下篇文章 #}
    {% if article.next_article %}
    <p>
        <span>下一篇：</span>
        <a class="next-article" href="{{ SITEURL }}/{{ article.next_article.url }}" title="{{ article.next_article.title }}">{{ article.next_article.title }}</a>
    </p>
    
    {% else %}

    {% endif %}

    {% if article.prev_article %}
    <p>
        <span>上一篇：</span>
        <a class="prev-article" href="{{ SITEURL }}/{{ article.prev_article.url }}" title="{{ article.prev_article.title }}">{{ article.prev_article.title }}</a>
    </p>
    
    {% else %}

    {% endif %}
</div>

<script src="https://giscus.app/client.js"
        data-repo="{{ GISCUS_DATA_REPO }}"
        data-repo-id="R_kgDOIdArzw"
        data-category="Announcements"
        data-category-id="DIC_kwDOIdArz84CSnQF"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}

{# 侧栏 #}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}