{% extends "base.html" %}

{% block title %}{{ SITENAME }}{%endblock%}


{% block content %}
    {% if articles %} {# 判断是否有文章 #}
        {% for article in articles_page.object_list %} {# 遍历文章 #}
            <article class="entry">
                <div class="entry-body">
                    <h2 class="title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                    {{ article.content|safe | truncate(100, true) }}
                </div>
                <div class="article-tags">
                {% include "taglist.html" %}
                </div>
            </article>
        {% endfor %}
    {% endif %}
{% endblock content %}

{# 侧栏 #}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}