<!-- 网站侧栏 -->

<div class="profile sidebar-item">
    <div class="head">
        <img alt="小土坡" src="{{ SITEURL}}/{{ THEME_STATIC_DIR }}/images/xiaotupo-logo.svg" title="小土坡"/>
        
    </div>
    <div class="content">
        <div class="site-info">
            文章：<span>{{ articles|length }}</span>
            分类：<span>{{ categories|length }}</span>
            页面：<span>{{ pages|length }}</span>
        </div>
        <div class="link-wrap github">
            <img class="img" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/github-fill.svg" alt="哔哩哔哩">
            <a class="github-link" href="{{ GITHUB_URL }}" target="_blank" title="去我的 Github">Github</a>
        </div>
        <div class="link-wrap bilibili">
            <img class="img" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/bilibili.svg" alt="哔哩哔哩">
            <a class="bilibili-link" href="{{ BILIBILI_URL }}" target="_blank" title="去我的哔哩哔哩 - _小土坡">哔哩哔哩</a>
        </div>
        <div class="link-wrap juejin">
            <img class="img" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/juejin.svg" alt="掘金">
            <a class="juejin-link" href="{{ JUEJIN_URL }}" target="_blank" title="去我的掘金 - 小土坡">掘金</a>
        </div>
    </div>
    
</div>

<div class="tags sidebar-item">
    <h2 class="sidebar-title">标签</h2>
    <div class="content">
        {% for tag, _ in tags %}
            <a class="tag" href="{{ SITEURL }}/{{ tag.url }}" title="{{ tag }}">{{ tag }}</a>
        {% endfor %}
    </div>
</div>

<div class="category sidebar-item">
    <h2 class="sidebar-title">分类</h2>
    <div class="content">
        {% for category, _ in categories %}
            <a class="category-link" href="{{ SITEURL }}/{{ category.url }}" title="{{ category }}" >{{ category }}</a>
        {% endfor %}
    </div>
</div>

<div class="sidebar-item">
    <h2 class="sidebar-title">主机推荐</h2>
    <div class="content">
        <a href="https://url.cn/RKEtpXPI" title="双十一同价！云服务器等爆品抢先购，低至4.2元/月" target="_blank">
            <img alt="双十一同价！云服务器等爆品抢先购，低至4.2元/月" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/txtg/345X200.jpg" />
        </a>
    </div>
</div>
<div class="sidebar-item">
    <h2 class="sidebar-title">Feed</h2>
    <div class="content">
        {% include "feed_block.html" %}
    </div>
</div>


<div class="sidebar-item">
    <h2 class="sidebar-title">给我发送Email</h2>
    <div class="content">
        {% if article %}
            <a href="mailto:{{ EMAIL }}&body=文章链接：<a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a>&subject={{ article.title}}-填写你的主题">给我发消息</a>
        {% else %}
        <a href="mailto:{{ EMAIL }}">给我发消息</a>
        {% endif %}
    </div>
</div>
