
/* pall padding: top/bottom left/right */
@include padding($map: $pas, $position: "pa");
/* px padding: top/bottom */
@include padding($map: $pxs, $position: "px");
/* py padding: top/bottom */
@include padding($map: $pys, $position: "py");
/* pl padding: top/bottom */
@include padding($map: $pls, $position: "pl");
/* pr padding: top/bottom */
@include padding($map: $prs, $position: "pr");
/* pt padding: top/bottom */
@include padding($map: $pts, $position: "pt");
/* pb padding: top/bottom */
@include padding($map: $pbs, $position: "pb");

// 通用 a 链接
a,a:hover {
    text-decoration: none;
}

a {
    color: $link-color;
    &:hover {
        color: $nav-bg;
    }
}

::selection {
    background: #1193d5;
    color: white;
}
