.content > table {
    // width: 100%;
    background: #f7f7f7;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 1rem;
    td,
    th {
        border: 1px solid rgb(190, 190, 190);
        padding: 10px 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        // white-space: nowrap;
    }
}